       



       /* Bootstrap Icons */
       @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.14.0/font/bootstrap-icons.css");
       
       /* Remix Icon */
       @import url("https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.css");
       
       /* Material Icons */
       @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
       
       /* Unicons */
       @import url("https://unicons.iconscout.com/release/v4.0.0/css/line.css");
       
       /* Boxicons */
       @import url("https://unpkg.com/boxicons@latest/css/boxicons.min.css");
       
       /* Phosphor Icons */
       @import url("https://unpkg.com/phosphor-icons@latest/src/css/icons.css");
       
       /* Ionicons */
       @import url("https://unpkg.com/ionicons@5.5.2/dist/css/ionicons.min.css");
       
       /* Themify Icons */
       @import url("https://cdn.jsdelivr.net/npm/themify-icons@latest/css/themify-icons.css");
       
       /* Octicons */
       @import url("https://cdn.jsdelivr.net/npm/octicons@latest/build/font/octicons.css");
       
       /* Feather Icons */
       @import url("https://cdn.jsdelivr.net/npm/feather-icons@latest/dist/feather.css");