.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.las {
  font-size: 20px;
  line-height: 1;
  display: flex;
}

.pinggir {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 32px;
}
